@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #F2F2F2;
}
:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.content{
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .5s ease;
}

.content:hover{
  opacity: 1;
  transition: all .5s .5s ease-out;
}

.hover_box {
  transition : all .5s ease-in;
}

img {
  transition : all 1s ease-in;
}

.hover_box:hover {
  transition: all .5s ease-out;
}
.hover_box .content {
  transition: all .5s ease;
}
.hover_box .content:hover { 
  transition: all .5s .5s ease-out;
}

button {
  transition : all .6s ease;
}
button img{
  transition : all .6s ease;
}

button h3{
  transition : all .6s ease;
}

.race-track {
  width: 100%;
  height: auto;
  overflow: hidden; /* Hide any overflow outside the race track */
  position: relative;
}

.road {
  position: relative;
  background-color: gray;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: 40px;
  padding: 3px 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.car {
  transform: scaleX(-1);
  position: relative;
  animation-name: moveCar;
  animation-iteration-count: infinite;
}
@keyframes moveCar {
  0% {
    left: 0;
    transform: scaleX(-1);
  }
  40% {
    left: calc(100% - 100px);
    transform: scaleX(-1);
  }
  41% {
    left: calc(100% - 100px);
    transform: scaleX(1);
  }
  90% {
    left: 0;
    transform: scaleX(1);
  }
  91% {
    left: 0;
    transform: scaleX(-1);
  }
  100% {
    left: 0;
  }
}

hr {
  height: 2px;
  color: white;
  background-color: white;
}
/* 
.project_card {
  background: linear-gradient(39deg, #431F54 0%, #151226 60.00%, #17254A 100%);;
} */

a {
	color: #18272F;
  position: relative;
  text-decoration: none;
  text-decoration-line: none;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: black;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .7s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
/* 
.project_card:hover {
  background-image: linear-gradient(to bottom, var(--gradient-start, #8b8b8b), var(--gradient-stop, #ffffff));
  transition: all 400ms;
} */